// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.vote-rate {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 27px;
}